# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Wifi names and passwords
weatherCrow5.7/config.h

# Python virtual environment
venv/

svg
tmp.png